[Unit]
Description=Prometheus Node Exporter
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User={{ prometheus_exporter_user }}
Group={{ prometheus_exporter_group }}
ExecStart=/usr/local/bin/node_exporter --web.listen-address=localhost:9100
ExecStop=/bin/kill -HUP $MAINPID
SyslogIdentifier=prometheus_node_exporter
Restart=always

[Install]
WantedBy=multi-user.target